<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/statics/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/statics/stylesheets/main.css">
</head>
<body>
	<!-- Need Header-->
	<div class="main-content">
		<h1>Choose a Project:</h1>
		<ul class="no-bullet">
			<li>AStar32u4 Serial Monitor</li>
			<li>AStar32u4 Video Feed</li>
			<li>AStar32u4 Image Tests</li>
		</ul>
	</div>
	
	<!-- Need Footer -->

	<!-- Scripts -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="/statics/javascripts/main.js"></script>
</body>
</html>
