<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/statics/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/statics/stylesheets/main.css">
</head>
<body>
	<!-- Need Header-->
	<div class="main-content">
		<h1>Raspberry Pi / AStar32u4 Robot Controller Serial Monitor</h1>
		
		<p>Data monitor:</p>
		<div class="monitor" id="data-monitor">
			<ul class="no-bullet" id="monitor-data-items"></ul>
		</div>
		<div class="interactions">
			<input id="serial-data-input" name="serial-data-input" type="text"></input>
			<button class="standard-button" id="send-data">Send Command</button>
			<button class="standard-button" id="clear-monitor">Clear Monitor</button>
		</div>
	</div>
	
	<!-- Need Footer -->

	<!-- Scripts -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="/statics/javascripts/main.js"></script>
</body>
</html>
